_target_: torch.optim.lr_scheduler.SequentialLR
optimizer: null   # will be supplied by instantiate()

schedulers:
  - _target_: torch.optim.lr_scheduler.LinearLR
    start_factor: 0.0
    end_factor: 1.0
    total_iters: 6 # 3% of max_steps
    optimizer: ${...optimizer}

  - _target_: torch.optim.lr_scheduler.CosineAnnealingLR
    T_max: 194       # total_steps - warmup_steps
    eta_min: 0.0
    optimizer: ${...optimizer}

milestones: [6] # 3% of max_steps